/* GenericCard.css */

.list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .list-item {
    font-size: 14px;
    color: #f7f7f7;
    cursor: pointer;
  }
  
  .list-item:hover {
    text-decoration: underline;
  }
  