/* OccupancyGraph.css */
.occupancy-wrapper1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  
  .grey {
    fill: #e8e8e8;
    transition: fill 0.3s ease;
  }
  
  .filled {
    fill: #4b3bff;
  }
  