.third-section {
    margin-top: 2rem;
    padding: 0rem 2rem;
}

.bento {
    display: grid;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.random {
    background-color: rebeccapurple;
    width: 100%;
}